@font-face {
  font-family: 'opensans-bold';
  src: url(../../../../fonts/OpenSans-Bold.ttf); }

@font-face {
  font-family: 'opensans-bold-italic';
  src: url(../../../../fonts/OpenSans-BoldItalic.ttf); }

@font-face {
  font-family: 'opensans-extra-bold-italic';
  src: url(../../../../fonts/OpenSans-ExtraBoldItalic.ttf); }

@font-face {
  font-family: 'opensans-italic';
  src: url(../../../../fonts/OpenSans-Italic.ttf); }

@font-face {
  font-family: 'opensans-light';
  src: url(../fonts/OpenSans-Light.ttf); }

@font-face {
  font-family: 'opensans-light-italic';
  src: url(../fonts/OpenSans-LightItalic.ttf); }

@font-face {
  font-family: 'opensans-regular';
  src: url(../fonts/OpenSans-Regular.ttf); }

@font-face {
  font-family: 'opensans-semi-bold';
  src: url(../fonts/OpenSans-SemiBold.ttf); }

@font-face {
  font-family: 'opensans-semi-bold-italic';
  src: url(../fonts/OpenSans-SemiBoldItalic.ttf); }

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.simpleDemo ul[dnd-list] {
  min-height: 42px;
  padding-left: 0px; }

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.simpleDemo ul[dnd-list] .dndDraggingSource {
  display: none; }

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.simpleDemo ul[dnd-list] .dndPlaceholder {
  background-color: #ddd;
  display: block;
  min-height: 42px; }

.simpleDemo ul[dnd-list] li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px; }

/**
 * Show selected elements in green
 */
.simpleDemo ul[dnd-list] li.selected {
  background-color: #dff0d8;
  color: #3c763d; }

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0); }

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto; }

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px; }

/*Left*/
.modal.left.fade .modal-dialog {
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out; }

.modal.left.fade.in .modal-dialog {
  left: 0; }

/*Right*/
.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out; }

.modal.right.fade.in .modal-dialog {
  right: 0; }

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none; }

.modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA; }

/* ----- v CAN BE DELETED v ----- */
body {
  background-color: #78909C; }

.demo {
  padding-top: 60px;
  padding-bottom: 110px; }

.btn-demo {
  margin: 15px;
  padding: 10px 15px;
  border-radius: 0;
  font-size: 16px;
  background-color: #FFFFFF; }

.btn-demo:focus {
  outline: 0; }

.demo-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background-color: #212121;
  text-align: center; }

.demo-footer > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #fff; }
