@media only screen and (max-width: 1199px) {

}
@media only screen and (max-width: 991px) {
	.btn-mbl{
  display: block;
 }
 #sidebar {
    height: 200%;
    width: 55px;
    z-index: 9;
  }
  #mainbar{
    margin-left: 50px;
  }
  .logo img{
    display: none;
  }
  .logo .logo-mbl{
    display: block;
  }
  #sidebar .logo{
    padding: 12px 12px 11px 12px;
  }
  .main-menu li a{
    display: none;
  }
  .main-menu li .submenu li a{
    display: block;
    padding: 15px 20px 15px 20px;
  }
  .main-menu li a.menu-mbl{
    display: block;
  }
  .main-menu li ul.submenu{
    display: none;
    position: fixed;
    z-index: 99;
    left: 55px;
    list-style: none;
  }
  .main-menu li ul.submenu.active li{
    display: block;
  }
  .main-menu li ul.submenu.active{
    display: block;
  }
  .main-menu li ul.submenu li a {
    padding: 15px 30px 15px 30px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
	/*#main-login{
		width: 70%;

	}*/
	#main-login{
		width: 70%;
		
	}
	.login-content{
		height: 510px;
	}
	.login-bg{
		display: none;
	}
}

@media only screen and (max-width: 480px) {
	#main-login{
		width: 80%;
		
	}
	.login-content .inner-content{
		padding: 0 20px;
    	padding-top: 60px;
	}
}