/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.simpleDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.simpleDemo ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

.simpleDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
.simpleDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}




.k-box {
  width: 100%;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;

}

.k-box img {
  max-width: 95%;
  margin:auto;
}

.k-box span {
  text-align: center;
}


.survey-builder{
 display: table;
 min-height: 500px;
 width: 100%;
 border-collapse: collapse;
}

.k-box-parents{
 display: table;
 min-height: 500px;
 width: 100%;
 border-collapse: collapse;
 background: #fff;
}

 .survey-builder-content{
   display: table-cell;

 }
   .survey-builder-content:after{
     content: "Drop NEW PAGE";
     color: #888;
     text-align: center;
     display: block;
     background-color: #d0d0d0;
     border-color: #d6e9c6;
     border-radius: 4px;
     padding: 20px 0;
   }
   .survey-content{
     min-height: 100px;
   }
   .survey-content .section-element{
     margin-bottom: 20px;
     position: relative;
     border: 1px solid #ddd;
     background: #fff !important;
   }
   .survey-content .section-element .section-head h3{
     margin: 0px;
     font-size: 30px;
     color: #fff;
   }
   .item-option-content .form-control-section {
   font-size: 28px;
   }
   .description-place::-webkit-input-placeholder { /* Chrome/Opera/Safari */
     color: #909090;
   }
   .description-place::-moz-placeholder { /* Firefox 19+ */
     color: #909090;
   }
   .description-place:-ms-input-placeholder { /* IE 10+ */
     color: #909090;
   }
   .description-place:-moz-placeholder { /* Firefox 18- */
     color: #909090;
   }

   .survey-content .section-element .section-head{
     background-color: #d0d0d0;
     margin: 0px;
     color:#fff;
     border-bottom: 1px solid #ddd;
     padding: 20px 20px;

   }
   .survey-content .section-element .column{
     min-height: 100px;
     background-color:#fff;
     border-bottom: 1px solid #ddd;
   }

.k-section {
  display: none;
}

.k-builder-tools {
  width: 44%;
  float: left;
  background: #fff;
  margin-right: 12px;
  text-align: center;
  margin-bottom: 20px;
}

.k-builder-tools img {
  width: 100%;
  height: 120px;
  padding: 26px;
  margin-bottom: 10px;
}

.d-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #999999;
}
