@import url('fonts/Montserrat-Regular/styles.css');
@import url('fonts/Montserrat-SemiBold/styles.css');
@import url('fonts/Montserrat-Medium/styles.css');
@import url('fonts/Montserrat-Bold/styles.css');
@import url('fonts/Montserrat-Thin/styles.css');
@import url('fonts/Montserrat-Light/styles.css');
body {
  font-family: 'Montserrat-Regular';
  font-size: 13px;
  background: #f4f4f4;
}



/* ================================================================
                          LOGIN AND SIGN UP
=================================================================*/
#main-login{
  width: 770px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
}
.login-content{
  background: rgba(255, 255, 255, 0.98);
  height: 500px;
  position: relative;
}
.login-content .inner-content{
  padding: 0 40px;
  padding-top: 60px;
  color: #838383;
}
.login-content .inner-content h3{
  text-align: center;
  font-size: 20px;
  font-family: 'Montserrat-Medium';
  margin-bottom: 40px;
}
.login-content .inner-content .form-group{

}
.login-content .inner-content .form-group label{
  text-transform: uppercase;
  font-family: 'Montserrat-SemiBold';
  font-size: 12px;
  margin-bottom: 0px;
}
.login-content .inner-content .form-group .form-control{
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #acacac;
  border-radius: 0px;
  padding: 10px 0px;
  height: auto;
  color: #838383;
  font-size: 13px;
  font-family: 'Montserrat-Light';
  background: transparent;
}

.form-app textarea.form-control{
  height: auto;
}
.login-content .inner-content .form-group .form-control:focus{
  box-shadow: none;
  outline: none;
}
.login-content .inner-content button{
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  margin-bottom: 15px;
}
.login-content .inner-content a.forgot-style{
  text-align: center;
  display: block;
  color: #adadad;
  font-family: 'Montserrat-Light';
}
.login-content .inner-content a.forgot-style:hover{
  text-decoration: none;
}
.login-content .inner-content .label-footer{
  font-family: 'Montserrat-Light';
  text-align: center;
  margin-top: 40px;
}
.login-content .inner-content .label-footer a{
  font-family: 'Montserrat-SemiBold';
  color: #838383;
}
.login-content .inner-content .label-footer a:hover{
  text-decoration: none;
}
.login-bg{
  background: url(../images/bg-left-login.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
  position: relative;
}
.login-bg .inner-bg-login{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.login-bg .inner-bg-login p{
  color: #fff;
}
.login-bg .inner-bg-login img{ 
  margin: 0 auto;
}

/* ================================================================
                          GLOBAL
=================================================================*/
.button-red{
  background: #e6433c;
  border: none;
  color: #fff;
  width: 160px;
  padding: 12px 10px;
  box-shadow: 0px 0px 5px 0px #847474;
}



/* ================================================================
                          LOGIN AND SIGN UP
=================================================================*/
#sidebar{
  width: 250px;
  height: 100%;
  position: fixed;
  background: #343434;
  overflow-y: auto;
}
#sidebar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#sidebar::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

#sidebar::-webkit-scrollbar-thumb
{
  background-color: #000000;
}
#sidebar .logo{
  padding: 20px;
  background: #252525;
  display: block;
}
#sidebar .logo img{
  width: 110px;
  margin:0 auto;
}
#sidebar .bar-menu{

}
.main-menu{
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-menu li{

}
.main-menu li a{
  color: #9a9a9a;
  display: block;
  padding: 15px 20px;
  font-size: 13px;
  position: relative;
  transition: all .5s;
} 
.main-menu li a:hover{
  text-decoration: none;
  background: #ed1c24;
  color: #fff;
}
.main-menu li a.active,
.main-menu li.haschildren a.active{
  background: #ed1c24;
  color: #fff; 
  transition: all .5s;
}
.main-menu li.haschildren ul.submenu{
  display: block;
}
.main-menu li.haschildren ul.submenu li a.active{
  color: #fff;
  background: #343434;
}
.main-menu li a span.active{
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.main-menu li a:focus{
  text-decoration: none;
}
.main-menu li a span{
  position: absolute;
  right: 10px;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transition: transform .5s;
}
.main-menu li a span i{
  /*font-size: 18px;*/
}
.main-menu li a i{
  margin-right: 10px;
  font-size: 15px;
}
.main-menu li ul.submenu{
  padding: 0;
  margin: 0;
  display: none;
}
.main-menu li ul.submenu li a{
  padding: 15px 20px 15px 50px;
  color: #a4a4a4;
  transition: all .5s ease;
  background: #343434;
}
.main-menu li ul.submenu li a:hover{
  color: #fff;
}

#mainbar{
  margin-left: 250px;
}
.topbar{
  background: #343434;
  padding: 15px 20px 14px 20px;
  position: relative;
}
.topbar .search-bar{
  width: 200px;
  display: inline-block;
}
.topbar .search-bar .form-control{
  height: 30px;
  background: transparent;
  font-size: 12px;
  border: 1px solid #c2c2c2;
  color: #c2c2c2;
}
.topbar .search-bar .form-control:focus{
  box-shadow: none;
}
.topbar .search-bar .input-group-btn button:focus{
  box-shadow: none;
}
.topbar .search-bar .input-group-btn button{
  padding: 5px 12px 6px 12px;
  background: transparent;
  color: #c2c2c2;
  font-size: 12px;
}
.topbar .top-menu{
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 5px 0px;
}
.topbar .top-menu li{
  float: left;
  margin: 0px 6px;
  font-size: 15px;
}
.topbar .top-menu li a{
  color: #e1e1e1;
  display: block;
}
.topbar .label-profile{
  float: right;
  color: #e1e1e1;
  padding: 5px 0px 5px 10px;
  border-left: 1px solid #bebebe;
  margin-left: 10px;
}
.title-bar{
  background: #f7f7f7;
  position: relative;
  font-family: 'Montserrat-Medium';
  font-size: 15px;
  padding: 13px 20px 14px 20px;
  box-shadow: 0px 0px 10px 1px #afafaf;
  z-index: -1;
}
.main-content{
  margin: 25px 20px;
}
.main-content .row{
  /*margin: 0;*/
}
.panel-white .row{
 margin: 0; 
}
.panel-white{
  background: #fff;
  padding: 20px 25px;
}
.panel-dash{
  background: #fff;
  box-shadow: 0px 0px 10px 1px #e4e4e4;
}
.panel-dash .title-panel-dash{
  padding: 15px 20px;
  font-family: 'Montserrat-SemiBold';
  font-size: 16px;
  border-bottom: 1px solid #d0d0d0;
}
.panel-dash .body-panel-dash{
  padding: 20px 20px;
}
.panel-big .title-panel-dash{
  font-size: 18px;
  padding: 20px 20px;
}
.panel-blue .title-panel-dash{
  color: #fff;
  background: #45b3e8;
  position: relative;
}
.panel-green .title-panel-dash{
  color: #fff;
  background: #3fd57f;
}
.panel-red .title-panel-dash{
  color: #fff;
  background: #ef6d6d;
}
.form-app{

}
.form-app label{
  margin-bottom: 10px;
}
.form-app .form-group{
  
}
.form-app .form-control{
  background: #f4f4f4;
  border: 1px solid #f4f4f4;
  box-shadow: none;
  border-radius: 0px;
  height: 40px; 
  font-size: 12px;
}
.form-modal .form-control{
  border: 1px solid #b1b1b1;
}
.form-modal .select2-container {
    border: 1px solid #b1b1b1;
}
.form-modal label{
  /* padding-top: 10px; */
}
.form-modal .form-control.disabled{
  background: #c1bdbd;
}
.btn-style-red{
  color: #fff;
  border: none;
  background: #ed1c24; 
  padding: 10px 30px;
}
.btn-style-red:hover,
.btn-style-red:focus{
  outline: none;
}
.btn-style-black{
  background: #352f2f;
}
.panel-table{
  padding: 0px 5px;
  padding-top: 10px;
  width: 100%;
  font-size: 12px;
}
.panel-table .table{
  
}
.panel-table .table .sorting:after,
.panel-table .table .sorting_asc:after{
  display: none;
}
.panel-table .col-sm-12{  
  padding: 0;
}
.panel-white-header{

padding: 0px 20px;

margin-bottom: 20px;
}
.panel-white-header h4{
  
display: inline-block;
}
.btn-red-t{
    color: #ed1c24 !important;
    background: transparent;
    border: 1px solid #ed1c24;
    border-radius: 0px;
    padding: 6px 30px;
    font-size: 13px;
}
.btn-red-t.black{
  color: #707070 !important;
  border: 1px solid #707070;

}
.panel-white-header a{
  float: right;
  margin-left: 10px;
}



/* SQUARED THREE */
.squaredThree {
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}

.squaredThree label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  border-radius: 50%;
  background: #707070;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
  left: 50%;
  transform: translateX(-50%);
}

.squaredThree label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=1);
  opacity: 1;
  content: '';
  position: absolute;
  width: 10px;
  height: 6px;
  background: transparent;
  top: 6px;
  left: 5px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.squaredThree label:hover::after {
  /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;*/
}

.squaredThree input[type=checkbox]:checked + label{
  /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;*/
  background: #25ae88;
}

.title-page-grey{
    color:  #a1a1a1;
    margin-bottom: 20px;
    font-size: 14px;
}
.out-sms-menu{

}
.out-sms-menu .row{
    margin-right: -15px;
    margin-left: -15px;
}
.sms-menu{
  display:  block;
  height:  130px;
  text-align:   center;
  padding:  40px 10px;
  position: relative;
  font-size: 14px;
}
.sms-menu span{
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 80%;
}
.sms-menu:hover{
  text-decoration:  none;
}
.sms-menu.quick{
  color:  #fff;
  background:   #3ce6b0;
  transition: all .3s;
}
.sms-menu.quick:hover{
  color:  #3ce6b0;
  background:   #fff;
}
.sms-menu.quick.active{
  color:  #3ce6b0;
  background:   #fff;
}
.sms-menu.schedule{
  color:  #fff;
  background:   #ee6c67;
 transition: all .3s;
}
.sms-menu.schedule:hover{
  color:  #ee6c67;
  background:   #fff;
}
.sms-menu.schedule.active{
  color:  #ee6c67;
  background:   #fff;
}
.sms-menu.progres{
  color:  #fff;
  background:   #89c1f1;
  transition: all .3s;
}
.sms-menu.progres:hover{
  color:  #89c1f1;
  background:   #fff;
}
.sms-menu.progres.active{
  color:  #89c1f1;
  background:   #fff;
}
.main-sms-quick{

}
.btn-red{
  margin-top: 20px;
  background: #ed1c24;
  color: #fff;
  border-radius: 0px;
  padding: 6px 50px;
}
.panel-sms-quick{
  background: #fff;
}
.panel-sms-quick .header-sms-quick{
  border-bottom: 1px solid #b7b7b7;
  padding: 10px 15px;
}
.panel-sms-quick .header-sms-quick h5{
  margin: 0;
  font-size: 15px;
}
.panel-sms-quick .header-sms-quick span{
  font-size: 11px;
  color: #c5c5c5;
}
.panel-sms-quick textarea{
  border: none;
  height: 150px;
  width: 100%; 
  padding: 10px 15px;
}
.panel-sms-quick textarea:focus{
  outline: none;
}

.list-format-email{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
.list-format-email li{
  display: inline-block;
  width: 24%;
  text-align: center;
}
.list-format-email li a{
  display: inline-block;
  border: 2px solid #959595;
  position: relative;
}
.list-format-email li a:hover{
  border: 2px solid #4ee8b5;
}
.list-format-email li a .check{
  display: none;
    position: absolute;
    top: -10px;
    right: -10px;
}
.list-format-email li a:focus .check{
  display: block;
}
.list-format-email li a:focus{
  border: 2px solid #4ee8b5;
}
.list-format-email li img{
  
}
.panel-ko{
  border-radius: 0px;
}
.panel-ko .panel-heading{
  border-radius: 0px;
}
.panel-ko .panel-heading h5{
  margin: 5px 0px;
  font-size: 15px;
}

.btn-mbl{
  display: inline-block;
  background: transparent;
  color: #dcd9dc;
  border: 1px solid #dcd9dc;
  padding: 4px 10px;
  font-size: 16px;
  float: left;
  margin-right: 20px;
  display: none;
}
.logo .logo-mbl{
  display: none;
}
.main-menu li a.menu-mbl{
  display: none;
}
.list-template{
  padding: 0;
  margin: 0;
  list-style: none;
}
.list-template li{
  
}
.list-template li a{
  line-height: 20px;
}
.btn{
  border-radius: 0px;
  font-size: 13px;
}
.btn-warning{
  background: #ffae3b;
}
.btn-danger{
  background: #ed1c24;
}
.list-check{
  padding: 0;
  margin: 0;
  list-style: none;
}
.list-check li{
  margin-bottom: 5px;
}

.box-thumb-dash{
  color: #fff;
  padding: 20px;
}
.timepicker{
  text-align: center;
}
.box-thumb-dash img{
  float: right;
}
.box-thumb-dash h4{
  font-family: 'Montserrat-Thin';
  font-size: 40px;
  margin-bottom: 15px;
}
.box-thumb-dash p{
  margin: 0;  
  font-size: 16px;
}
.box-thumb-dash small{
  font-size: 14px;
  float: right;
  margin-top: -20px;
}
.box-thumb-dash.blue{
  background: #67ace7;
}
.box-thumb-dash.red{
  background: #ef6d6d;
}
.box-thumb-dash.green{
  background: #3fd57f;
}
.modal{
  font-family: 'Montserrat-Regular';
}
.modal-header h4{
  font-size: 16px;
}
.modal-content{
  border-radius: 0px;
}

.btn:focus{
  outline: none;
}
.user-avatar{
  text-align: center;
}
.user-avatar img{
  margin: 0 auto;
  border: 2px solid #dfdfdf;
  border-radius: 50%;
}
.user-avatar div{
  margin-top: 10px;
  font-size: 15px; 
  font-family: 'Montserrat-SemiBold';
}
.box-user-info{

margin-bottom: 20px;
}
.label-user-info{
  color: #bfbfbf;
}
.main-user-info{ 
  font-family: 'Montserrat-SemiBold';
}
.btn-red:hover{
  color: #fff;
}
.btn-prof{
  right: 20px;
  top: 0;
  position: absolute;
  padding: 10px 50px;
}
.inner-prof{
  background: #fff;padding: 20px 20px;
}
.inner-prof h5{
  margin: 0;
  border-bottom: 1px solid #ccc; 
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #898989;
  text-transform: uppercase;
}
.my-tabs{
  padding: 0px 20px;
}
.my-tabs .nav-tabs>li>a{
  border-radius: 0px;
}
.my-tabs .tab-pane{
  padding: 20px 0px;
}
.role-check{
  width: 30px;
}

.select-panel{
  
position: absolute;
  
width: 200px;
  
right: 20px;
  
top: 17px;
  
box-shadow: none;
  
border-radius: 0px;
}
label.error{
  color: red;
  font-size: 11px !important;
  font-family: 'Montserrat-Light' !important;
  text-transform: capitalize !important;
}
.water{
  background: url(../images/waves.png);
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.no-padding{
  padding: 0 !important;
}