
@font-face {
  font-family: 'Montserrat-Thin';
  src: url('Montserrat-Thin.eot?#iefix') format('embedded-opentype'),  url('Montserrat-Thin.otf')  format('opentype'),
	     url('Montserrat-Thin.woff') format('woff'), url('Montserrat-Thin.ttf')  format('truetype'), url('Montserrat-Thin.svg#Montserrat-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
