
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url('Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),  url('Montserrat-ExtraLight.otf')  format('opentype'),
	     url('Montserrat-ExtraLight.woff') format('woff'), url('Montserrat-ExtraLight.ttf')  format('truetype'), url('Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
