$active : #00ab80;
$white-light : #ffffff;
$blue-dark : #336C92;
$darkdoff : #333333;
$darkdoffi : #525252;
$gray : #d0d0d0;
$glow : #f5f5f5;
$color: #00ab80;
$light: lighten($color,15%);
$dark: darken($color,15%);
$lighter: lighten($color,30%);
$darker: darken($color,30%);

$font-head: 33px;
$font-heading: 36px;
$font-head-medium: 20px;
$font-sub-head: 15px;
$font-sub-head-medium: 13px;
$font-description: 18px;
$greenglow: #98B333;
$greenglight: #70C427;
$facebook : #006FF0;
$twitter : #61DDFF;
$pinterest: #D03A3A;
