@font-face {
    font-family: 'opensans-bold';
    src: url(../../../../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'opensans-bold-italic';
    src: url(../../../../fonts/OpenSans-BoldItalic.ttf);
}

@font-face {
    font-family: 'opensans-extra-bold-italic';
    src: url(../../../../fonts/OpenSans-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: 'opensans-italic';
  src: url(../../../../fonts/OpenSans-Italic.ttf);
}

@font-face {
  font-family: 'opensans-light';
  src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: 'opensans-light-italic';
  src: url(../fonts/OpenSans-LightItalic.ttf);
}

@font-face {
  font-family: 'opensans-regular';
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'opensans-semi-bold';
  src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: 'opensans-semi-bold-italic';
  src: url(../fonts/OpenSans-SemiBoldItalic.ttf);
}

$opensans-bold: 'opensans-bold', Helvetica, Arial, sans-serif;

$opensans-bold-italic: 'opensans-bold-italic', Helvetica, Arial, sans-serif;

$opensans-extra-bold-italic: 'opensans-extra-bold-italic', Helvetica, Arial, sans-serif;

$opensans-italic: 'opensans-italic', Helvetica, Arial, sans-serif;

$opensans-regular: 'opensans-regular', Helvetica, Arial, sans-serif;

$opensans-light: 'opensans-light', Helvetica, Arial, sans-serif;

$opensans-light-italic: 'opensans-light-italic', Helvetica, Arial, sans-serif;

$opensans-semibold: 'opensans-semibold', Helvetica, Arial, sans-serif;

$opensans-semi-bold-italic: 'opensans-semi-bold-italic', Helvetica, Arial, sans-serif;
